<section>
  <h1>Volunteer</h1>
</section>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Volunteer Page</title>
  </head>
  <body>
    <form>

  <input type="name" placeholder="First Name" name="firstname"><br>
  <input type="text"  placeholder="Organization"name="organization"><br>
  <input type="text"  placeholder="Country visited"name="country visited"><br>
  <input type="textarea"  placeholder="text from volunteer"name="text"><br>
  <input type="comments"  placeholder="User Comments"name="comments"><br>
  <button type="submit" name="button">Submit</button>
</form>
  </body>
</html>
