a.btn {
  background-color: red;
  color: white; }

.navbar {
  background-color: red;
  color: white; }
  .navbar span {
    position: relative;
    display: flex;
    top: 13px; }
    .navbar span li {
      padding-right: 10px; }

li a {
  color: #E8D1A4; }

.abouttitle {
  width: 1000px; }

.aboutp {
  font-size: 30px; }

.about {
  background-color: #EDDAB6;
  margin: 0 auto;
  text-align: center;
  list-style: none; }

.section about {
  border: 5px solid #331919;
  border-radius: 10px/10px;
  width: 1200px; }

.register {
  margin-left: 100px; }

.register-title {
  margin-left: 100px; }

.donate, .volunteer {
  background-color: red;
  color: white;
  border-radius: 25px/25px; }

.service-fluid {
  background-image: url("images/bamoo.png");
  background-repeat: no-repeat;
  background-size: cover; }

.serviceorg {
  background: rgba(255, 255, 255, 0.5); }

.logo {
  border-radius: 100px/100px;
  display: inline-block; }

.logoHeader {
  display: inline-block; }

.custom-panel-heading .panel-heading {
  background-color: #CDCAB9 !important; }

.editVol {
  background-color: blue;
  color: white; }

.deleteVol {
  background-color: red;
  color: white; }

.volunteerBackground {
  background-image: url("http://static1.squarespace.com/static/5129bddfe4b0c8653972021b/t/51313278e4b03c8ebed2afb7/1362178680520/IMG_4214.JPG");
  background-repeat: no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  background: #eee !important; }

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px; }

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 30px; }
  .form-signin .checkbox {
    font-weight: normal; }
  .form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    box-sizing: border-box; }
    .form-signin .form-control:focus {
      z-index: 2; }
  .form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .form-signin input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

.wrapper {
  width: 300px;
  margin: 0 auto; }

.form-horizontal {
  margin-left: 600px; }

button.btn {
  background-color: blue;
  color: white; }

#username, #password {
  height: 50px; }

.actionCall {
  text-align: justify; }

.demo-1 {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
  float: left;
  margin-right: 20px;
  background-color: red; }

.demo-1 p, .demo-1 h2 {
  color: #fff;
  padding: 10px;
  left: -20px;
  top: 20px;
  position: relative; }

.demo-1 p {
  font-family: 'Lato';
  font-size: 12px;
  line-height: 18px;
  margin: 0; }

.demo-1 h2 {
  font-family: 'Lato';
  font-size: 20px;
  line-height: 24px;
  margin: 0; }

.effect img {
  position: absolute;
  margin: -15px 0;
  right: 0;
  top: 0;
  cursor: pointer;
  -webkit-transition: top .4s ease-in-out,right .4s ease-in-out;
  -moz-transition: top .4s ease-in-out,right .4s ease-in-out;
  -o-transition: top .4s ease-in-out,right .4s ease-in-out;
  transition: top .4s ease-in-out,right .4s ease-in-out; }

.effect img.top:hover {
  top: -230px;
  right: -330px;
  padding-bottom: 200px;
  padding-left: 300px; }

.row {
  padding-left: 200px; }

.jumbotron {
  margin-top: 200px;
  background-image: url(/img/Jumbotron.jpg);
  background-size: cover;
  height: 100%; }

.service-fluid {
  background-image: url("/images/bamboo.png"); }

.demo-2 {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
  float: left;
  margin-right: 20px;
  background-color: rgba(26, 76, 110, 0.5); }

.demo-2 p, .demo-2 h2 {
  color: #fff;
  padding: 10px;
  left: -20px;
  top: 20px;
  position: relative; }

.demo-2 p {
  font-family: 'Lato';
  font-size: 12px;
  line-height: 18px;
  margin: 0; }

.demo-2 h2 {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  font-family: 'Lato'; }

.effect img {
  position: absolute;
  left: 0;
  bottom: 0;
  cursor: pointer;
  margin: -12px 0;
  -webkit-transition: bottom .3s ease-in-out;
  -moz-transition: bottom .3s ease-in-out;
  -o-transition: bottom .3s ease-in-out;
  transition: bottom .3s ease-in-out; }

.effect img.top:hover {
  bottom: -96px;
  padding-top: 100px; }

h2.zero, p.zero {
  margin: 0;
  padding: 0; }

.pressPage {
  background-image: url("/images/bamboo.png"); }

.navbar navbar-inverse navbar-fixed-top custom {
  color: white; }

.nav navbar-nav navbar-right custom {
  color: white !important; }

.serviceheader {
  text-align: center; }

.pressArticles {
  background-color: white;
  opacity: .85; }

.pressHeader {
  text-align: center; }

.volProf {
  text-align: center; }
