a.btn{
  background-color: red;
  color:white;
}
.navbar{
  background-color: red;
  color:white;
}
li a{
  color:#E8D1A4;
}
.abouttitle{
  width:1000px;
}
.aboutp{
  font-size:30px;
}
.about{
  background-color: #EDDAB6;
  margin:0 auto;
  text-align: center;
  list-style: none;

}
.section about{
  border: 5px solid #331919;
  border-radius: 10px/10px;
  width:1200px;
}
.register{
margin-left:100px;
}
.register-title{
margin-left:100px;
}
.donate, .volunteer{
  background-color: red;
  color:white;
  border-radius: 25px/25px;
}
.serviceorg{
  background-color: #DDA185;
  opacity:.85;
}
.logo{
  border-radius:100px/100px;
  display: inline-block;
}
.logoHeader{
  display:inline-block;;
}

.custom-panel-heading .panel-heading {
  background-color: #CDCAB9 !important;
}
.editVol{
  background-color: blue;
  color:white;
}
.deleteVol{
  background-color: red;
  color:white;
}
.volunteerBackground{
  background-image: url('http://1.bp.blogspot.com/-Yc7lpE_875k/US5zq67bP_I/AAAAAAAAAE8/ronsN2V9jWE/s1600/IMG_2642.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}
