<div class="container-fluid">
  <div class="col-md-4">
      <div class="panel panel-default">
          <div class="panel-heading1">
              <h4 class="aboutuspage"><i class="fa fa-fw fa-check"></i> About</h4>
          </div>
          <div class="panel-body">
            <p class="aboutuscontent">
              The aim of OnPoint is to promote awareness of service organizations who provide acupuncture to underserved populations around the world.
              Our mission is to encourage practitioners to volunteer and other site visitors to donate funds to support theses organizations' efforts.
              We believe acupuncture is a low cost, highly effective medicine that has the capacity to impact a wide range of illnesses.
              OnPoint hopes to increase its availability in communities without access to healthcare as well as those affected by natural disasters by linking volunteers with opportunities to travel and be of service.
            </p>
            <p>
              Photo credit:Thomas Kelly
            </p>
          </div>

      </div>

  </div>

    <div class="polaroid-images">
  	<a href="" title=""><img height="250" src="images/catherine.jpg" alt="Catherine" title="Catherine" /></a>
  	<a href="" title=""><img height="250" src="images/esti.jpg" alt="esti" title="Esti" /></a>
    <a href="" title=""><img height="250" src="images/kids.jpg" alt="kids" title="kids" /></a>
    <a href="" title=""><img height="250"  src="images/awb.jpg" alt="AWB" title="AWB" /></a>

  </div>




  </div>
