
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><i class="fa fa-fw fa-check" class="aboutus1"></i> About Us</h4>
        </div>
        <div class="panel-body">
          <p>
            The aim of OnPoint is to promote awareness of service organizations who
             provide acupuncture to underserved populations around the world.

          </p>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><i class="fa fa-fw fa-check" class="aboutus1"></i> Misson Statement</h4>
        </div>
        <div class="panel-body">
          <p>
            Our mission is to encourage practitioners to volunteer and other site visitors to
            donate funds to support theses organizations' efforts.
            We believe acupuncture is a low cost, highly effective medicine that has the
            capacity to impact a wide range of illnesses.

          </p>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><i class="fa fa-fw fa-check" class="aboutus1"></i> Vision</h4>
        </div>
        <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
        </div>
    </div>
</div>
