<section class="about"><h1 class="abouttitle">About Us</h1>
<p class="aboutp">The aim of OnPoint is to promote awareness of service organizations who
 provide acupuncture to underserved populations around the world. </p>
 </section>

<section class="about">
  <h1 class="abouttitle">Mission Statement</h1>
  <p class="aboutp">
  Our mission is to encourage practitioners to volunteer and other site visitors to
  donate funds to support theses organizations' efforts. </p>
  <p class="aboutp">We believe acupuncture is a low cost, highly effective medicine that has the
  capacity to impact a wide range of illnesses. </p>
</section>
<section class="about">
  <h1 class="abouttitle">Vision Statement</h1>
  <p class="aboutp">
  OnPoint hopes to increase its availability in communities without access to
  healthcare as well as those affected by natural disasters by linking
  volunteers with opportunities to travel and be of service.
  </p>
</section>
