<section>
  <h1>Acupuncture in the news</h1>
</section>
<div class="container">

<ul class="list-unstyled activity-stream-list">
<li class="press-release" itemscope="" itemtype="http://schema.org/Article">
  <i class="fa fa-file-text-o fa-lg"></i>
  <a itemprop="headline" target="_blank" href="#">
  Archery Tournament for Beginners Jan. 2 at E.P. ‘Tom’ State Park</a>
    <p><cite itemprop="publisher" class="publishedAgency">CHFS</cite> - <span class="publishedDate" itemprop="datePublished">Jan 17, 2012</span></p>
 <p class="summary" itemprop="about">Beginner archers have an opportunity to test their skills at The Snowflake Shoot</p>

</li>
  <li class="event" itemscope="" itemtype="http://schema.org/Event">
  <i class="fa fa-calendar fa-lg"></i>
  <a itemprop="name" target="_blank" href="#">
  Archery Tournament for Beginners Jan. 2 at E.P. ‘Tom’ State Park</a>
    <p><cite itemprop="organizer" class="publishedAgency">CHFS</cite> - <span class="publishedDate" itemprop="startDate">Jan 17, 2012</span></p>
 <p class="summary" itemprop="description">Beginner archers have an opportunity to test their skills at The Snowflake Shoot</p>

</li>
</ul>


<ul class="list-unstyled press">
    <li class="press-release">
      <i class="fa fa-file-text-o fa-lg"></i>
      <a target="_blank" href="http://kentucky.gov/Pages/Activity-Stream.aspx?viewMode=ViewDetailInNewPage&amp;eventID=%7b6E29454C-D824-40C1-9C3B-F3317AFC6670%7d&amp;activityType=PressRelease">Archery Tournament for Beginners Jan. 2 at E.P. ‘Tom’ State Park</a>
      <p><cite class="publishedAgency">CHFS</cite> - <span class="publishedDate">Published 12/9/2014</span></p> <p class="summary">Beginner archers have an opportunity to <span class="highlight">test</span> <span>their skills at The Snowflake Shoot</span></p></li>
    <li class="event"><i class="fa fa-calendar fa-lg"></i><a target="_blank" href="http://kentucky.gov/Pages/Activity-Stream.aspx?viewMode=ViewDetailInNewPage&amp;eventID=%7b6E29454C-D824-40C1-9C3B-F3317AFC6670%7d&amp;activityType=PressRelease">Archery Tournament for Beginners Jan. 2 at E.P. ‘Tom’ State Park</a><p><cite class="publishedAgency">CHFS</cite> - <span class="publishedDate">Published 12/9/2014</span></p> <p class="summary">Beginner archers have an opportunity to <span class="highlight">test</span> <span>their skills at The Snowflake Shoot</span></p></li>

      </ul></div>


            <div id="push"></div>

</article>

<li></li>
<li></li>
