<div class="pressPage">

    <h1>New stories and articles about related organizations</h1>
    <br>
    <br>
    <br>


<li>
<h2>Flood Victims Offered Free Acupuncture</h2>
<p>CBC News, Calgary</p>
<p>July, 2013</p>
<p>Flood victims in Calgary and High River are being offered free acupuncture sessions to help them deal with stress.</p>
</li>
<li>
<h2>Flood Victims Offered Free Acupuncture</h2>
<p>CBC News, Calgary</p>
<p>July, 2013</p>
<p>Flood victims in Calgary and High River are being offered free acupuncture sessions to help them deal with stress.</p>
</li>
<li>
<h2>Flood Victims Offered Free Acupuncture</h2>
<p>CBC News, Calgary</p>
<p>July, 2013</p>
<p>Flood victims in Calgary and High River are being offered free acupuncture sessions to help them deal with stress.</p>
</li>
<li>
<h2>Flood Victims Offered Free Acupuncture</h2>
<p>CBC News, Calgary</p>
<p>July, 2013</p>
<p>Flood victims in Calgary and High River are being offered free acupuncture sessions to help them deal with stress.</p>
</li>
<li>
<h2>Flood Victims Offered Free Acupuncture</h2>
<p>CBC News, Calgary</p>
<p>July, 2013</p>
<p>Flood victims in Calgary and High River are being offered free acupuncture sessions to help them deal with stress.</p>
</li>


</div>
