<h1 class="pressHeader">Acupuncture Volunteers in the News!</h1>

<div class="pressPage">
  <div class="presscontainer">






<li class="pressArticles">
  <a class="presslinks"href="http://www.postandcourier.com/article/20160101/PC16/160109914/local-acupuncturist-travels-to-nepal-to-help-earthquake-victims">
  <h2>Local acupuncturist travels to Nepal to help earthquake victims</h2></a>
  <p>Post and Courier, SC</p>
  <p>January, 2016</p>

<li class= class="pressArticles">
  <a class="presslinks" href="http://www.acupuncturetoday.com/mpacms/at/article.php?id=31776">
  <h2>Acupuncture Out on the Border</h2></a>
  <p>Acupunture today</p>
  <p>August, 2008</p>
  </li>
<li class="pressArticles">
  <a class="presslinks" href="http://www.acupuncturetoday.com/mpacms/at/article.php?id=31776">
  <h2>Acupuncturists Without Borders: treating on the streets of New Orleans</h2></a>
  <p>Acupuncturists Without Borders</p>
  <p>August, 2008</p>
  </li>


</div>
</div>
