<div class="volunteerBack container">
  <form class="register" ng-submit="createVolunteer(volunteer)" ng-show="user">
  <h1 class="register-title">Create your volunteer profile</h1>
  <div class="formContainter">


  <label for="url" >Photo<br>
    <input clas="input"src="url" name="photo" ng-model="volunteer.photo" placeholder="Insert your photo url"><br>
  </label>
  <br>
    <label for="name">Name<br>
      <input class="input" type="name" ng-model="volunteer.name" name="name"><br>
    </label>
    <br>
    <label class="input"or="organization">Organization<br>
      <input class="input" type="text"  ng-model="volunteer.organization" name="organization"><br>
    </label>
    <br>
    <label class="input" for="country">Country visited<br>
      <input class="input"type="text"  ng-model="volunteer.country" name="country"><br>
    </label>
    <!-- <label for="country">Rate your experience<br>
      <input type="text"  ng-model="volunteer.rating" name="rating"><br>
    </label> -->
    <br>
    <label for="text">Tell us about your experience<br>
      <input type="textarea" ng-model="volunteer.description" name="description"><br>

    </label>
    <br>
    <!--<input type="comments"  placeholder="User Comments"name="comments"><br>
    <br> seperate-->

    <br>
    <input type="submit" value="Create Profile" class="register-button">
  </div>
  </form>
<h1 class="volProf">Volunteer Profiles</h1>
  <div class="volunteerBack" ng-repeat="volunteer in volunteers track by $index">

    <p class="volProfile">Name: {{volunteer.name}}</p>
    <p class="volProfile">Organization: {{volunteer.organization}}</p>
    <p class="volProfile">Country: {{volunteer.country}}</p>
    <p class="volProfile">My experience: {{volunteer.description}}</p>
    <form ng-show="$index === thisIndex && user && volunteer.user.id === user.data.id" class="editform" ng-submit="edit(volunteer)">
      <label for="name">Name:<br>
        <input type="text" name="name" ng-model="volunteer.name"><br>
      </label>
      <label for="organization">Organization:<br>
        <input type="text" name="name" ng-model="volunteer.organization"><br>
      </label>
      <label for="country">Country:<br>
        <input type="text" name="name" ng-model="volunteer.country"><br>
      </label>
      <label for="myExperience">My Experience:<br>
        <input type="text" name="name" ng-model="volunteer.description"><br>
      </label>
      <label for="photo">Photo:<br>
        <input type="text" name="name" ng-model="volunteer.photo"><br>
      </label>
        <button class="submitEdit">Submit Edit</button>
        <button class="cancelEdit">Cancel Edit</button>
    </form>
    <p> <img ng-src="{{volunteer.photo}}" width="250" height="250"/></p>
    <div ng-show="user">
      <button class="editVol" ng-click="showEdit($index)">Edit</button>
      <button class="deleteVol" ng-click="delete(volunteer,$index)">Delete</button>
    </div>
    <div ng-show="user">
      <h4>Comments</h4>
      <form  name="commentForm" data-ng-submit="postComment(newComment, volunteer)">
          <textarea class="commentsBox" name="commentBody" ng-model=newComment.text placeholder="Your Comment" style='width:550px'></textarea>
          <button class="buttonComment" style='margin-top:10px;'>Post Comment</button>
      </form >
      <ul>
        <li ng-repeat="comment in volunteer.comments track by comment.id"> {{ comment.text }}  <a  style="float: right;" href="" ng-click="remItem($index)">x</a>
          <button class="editComments" ng-click="showEditComments(comment.id)" name="button">Edit</button>
          <input ng-show="thisCommentIndex === comment.id" type="text" name="name" ng-model="comment.text" value="">
          <button type="submit" ng-click="updateComment(comment)" ng-show="thisCommentIndex === comment.id" name="button">Submit Edit</button>
          <button class="deleteComments" ng-show="comment.volunteerProf.id === user.data.id" ng-click="deleteComms(comment)"name="button">Delete</button>
        </li>

      </ul>
      <!-- <button class="editComments" ng-click="editComments($index)"  name="button">Edit</button>
      <button class="deleteComments" ng-click="delete(comments)"name="button">Delete</button> -->
    </div>
    </div>
</div>
