  <h1 class="register-title">Create your volunteer profile</h1>
  <form class="register" ng-submit="createVolunteer(volunteer)">
    <label for="name">Name<br>
      <input type="name" ng-model="volunteer.name" name="name"><br>
    </label>
    <br>
    <label for="organization">Organization<br>
      <input type="text"  ng-model="volunteer.organization" name="organization"><br>
    </label>
    <br>
    <label for="country">Country<br>
      <input type="text"  ng-model="volunteer.country" name="country"><br>
    </label>
    <br>
    <label for="text">Text<br>
      <input type="textarea" ng-model="volunteer.description" name="description"><br>

    </label>
    <br>
    <!--<input type="comments"  placeholder="User Comments"name="comments"><br>
    <br> seperate-->
    <label for="photo">Photo<br>
      <input type="Photo" name="photo" ng-model="volunteer.photo" placeholder="Insert your photo url"><br>
    </label>
<br>
    <input type="submit" value="Create Account" class="register-button">
  </form>
