


  <h1 class="register-title">Create your volunteer profile</h1>
  <form class="register" ng-submit="createVolunteer(volunteer)">
    <label for="name">Name<br>
      <input type="name" ng-model="volunteer.name" name="name"><br>
    </label>
    <br>
    <label for="organization">Organization<br>
      <input type="text"  ng-model="volunteer.organization" name="organization"><br>
    </label>
    <br>
    <label for="country">Country visited<br>
      <input type="text"  ng-model="volunteer.country" name="country"><br>
    </label>
    <br>
    <label for="text">Tell us about your experience<br>
      <input type="textarea" ng-model="volunteer.description" name="description"><br>

    </label>
    <br>
    <!--<input type="comments"  placeholder="User Comments"name="comments"><br>
    <br> seperate-->
    <label for="url" >Photo<br>
      <input src="url" name="photo" ng-model="volunteer.photo" placeholder="Insert your photo url"><br>
    </label>
<br>
    <input type="submit" value="Create Account" class="register-button">

  </form>

  <div ng-repeat="(index, volunteer) in volunteers">

    <p>Name: {{volunteer.name}}</p>
    <p>Organization: {{volunteer.organization}}</p>
    <p>Country: {{volunteer.country}}</p>
    <p>My experience: {{volunteer.description}}</p>
    <p><img ng-src="{{volunteer.photo}}" width="250" height="250"/></p>
    <button class="editVol" ng-click="edit(index, volunteer)">Edit</button>
    <button class="deleteVol" ng-click="delete(index, volunteer)">Delete</button>
    <textarea ng-model="txtcomment" placeholder="Your Comment" style='width:550px'></textarea>
    <button ng-click='btn_add();' style='margin-top:10px;'>Post Comment</button>

    <h4>Comments</h4>
    <ul>
        <li ng-repeat="comnt in comment"> {{ comnt }} <a  style="float: right;" href="" ng-click="remItem($index)">x</a></li>
    </ul>



    </div>
